<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de empleados</span>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.documento}}</td>
            <td>{{empleado.salario | currency}}</td>
            <td>
              <i class="fas fa-edit mx-2 text-info"></i>
              <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt mx-2 text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-success btn-lg m-auto w-100" routerLink="/create-empleado">Agregar</button>
    </div>
  </div>
</div>
